.bar-container {
    margin          : 10px 0;
    background-color: #242525;

    .bar-content {
        font-size       : 17px;
        font-weight     : 700;
        position        : relative;
        align-items     : center;
        height          : 40px;
        display         : inline-flex;
        padding         : 0 20px;
        background-color: #000;
        color           : #a7a7a7;

        &:after {
            border           : 20px solid transparent;
            border-left-color: #000;
            content          : "";
            position         : absolute;
            left             : 100%;
            top              : 0;
        }
    }
}